@use "../../../../../scss/global/color" as *;

div {
  &.subject-quizzes-chart {
    padding: 1rem;
    border-radius: 0.625rem;   
    box-shadow: 0px 2px 5px 0px black;
    background-color: $white;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(358, 100%, 67%);
  }
}