@use "../../global/color" as *;

@font-face {
  font-family: Montserrat-regular;
  src: url("../../../assets/fonts/montserrat/Montserrat-Regular.ttf");
}

.input-model {
  display: flex;
  .input {
    position: relative;
    top: 0;

    input {
      // width: 37em;
      width: 42.063rem;
      height: 3.125rem;
      padding-left: 3.75rem;
      font-size: 1.125rem;
      font-family: Montserrat-regular, sans-serif;
      border: 2px solid $black;
      border-radius: 0.425rem;
      transition: 0.3s ease-in-out all;
      &::placeholder {
        font-family: Montserrat-regular, sans-serif;
        font-size: 1.125rem;
        color: $black-700;
      }
      &:active,
      &:focus {
        border: 2px solid $purple2;
        outline: none;
        box-shadow: 0px 2.5px 0px 0px $purple2;
      }
    }
  }
  .icon {
    position: absolute;
  }
}

section {
  &.dark {
    input {
      background-color: $white !important;
      color: $black !important;
    }
  }
}
