@use "../global/color" as *;

.signup-section {
  position: relative;
  margin-top: -7rem;
  height: auto;
  background-color: $purple2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // overflow-x: hidden;
  .background-img {
    position: absolute;

    top: 50%;
    transform: translateY(-50%) !important;
    right: 0;
  }
}

@media (min-width: 120rem) {
  .background-img {
    top: 50% !important;
    transform: translate(0, -50%) !important;
  }
}
