@use "../../../../../../../scss/global/color" as *;

@font-face {
  font-family: montserrat-bold;
  src: url("../../../../../../../assets/fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: montserrat-regular;
  src: url("../../../../../../../assets/fonts/montserrat/Montserrat-Regular.ttf");
}

div {
  &.assignment-grade {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h5 {
      font-family: montserrat-bold;
      color: $black-800;
    }
    p {
      font-family: montserrat-regular;
      color: $black-800;
      text-decoration: underline;
    }
  }
  &.dark {
    h5 {
      color: $white-800;
    }
    p {
      color: $white;
    }
  }
}