@use "../../../../../../../../scss/global/color" as *;

@font-face {
  font-family: montserrat-bold;
  src: url("../../../../../../../../assets/fonts/montserrat/Montserrat-Bold.ttf");
}

div {
  &.student-question {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    h4 {
      font-family: montserrat-bold;
      color: $black-800;
    }
    .question-choices {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }
  &.dark {
    h4 {
      color: $white-800;
    }
  }
}
