@use "../../../../scss/global/color" as *;

//^ montserrat-medium
@font-face {
  font-family: montserrat-medium;
  src: url("../../../../assets/fonts/montserrat/Montserrat-Medium.ttf");
}

div {
  &.assignment-table {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .table-heading {
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 2.5fr 1fr 1fr 1fr;
      .table-row {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem 0rem 1rem 0rem;
        background-color: $black-900;
        color: $white;
        max-height: 5rem;

        p {
          font-size: 1rem;
          font-family: montserrat-medium;
        }
      }
    }
    .table-content {
      display: flex;
      flex-direction: column;

      &:nth-child(even) {
        .table-data {
          &:nth-child(odd) {
            background-color: hsla(0, 0%, 98%, 0.95) !important;
            color: $black-800 !important;
          }
          &:nth-child(even) {
            background-color: hsl(253, 18%, 84%) !important;
            color: $black !important;
          }
        }
      }

      &:nth-child(odd) {
        .table-data {
          &:nth-child(odd) {
            background-color: hsl(253, 18%, 84%) !important;
            color: $black !important;
          }
          &:nth-child(even) {
            background-color: hsla(0, 0%, 98%, 0.95) !important;
            color: $black-800 !important;
          }
        }
      }

      .table-data {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 2.5fr 1fr 1fr 1fr;

        padding: 1rem;
        .data {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: montserrat-medium;
          font-size: 1rem;

          a {
            color: $black;
            text-decoration: underline;
            transition: 0.3s ease-in-out all;
            &:hover {
              color: $purple;
            }
          }
        }
      }
    }
  }

  &.assignment-table-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    .table-heading {
      display: grid;
      grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;

      .table-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem 1rem 0rem;
        background-color: $black-900;
        color: $white;
        max-height: 5rem;
        p {
          font-size: 1rem;
          font-family: montserrat-medium;
        }
      }
    }
    .table-content {
      display: flex;
      flex-direction: column;

      &:nth-child(even) {
        .table-data {
          &:nth-child(odd) {
            background-color: hsla(0, 0%, 98%, 0.95) !important;
            color: $black-800 !important;
          }
          &:nth-child(even) {
            background-color: hsl(253, 18%, 84%) !important;
            color: $black !important;
          }
        }
      }

      &:nth-child(odd) {
        .table-data {
          &:nth-child(odd) {
            background-color: hsl(253, 18%, 84%) !important;
            color: $black !important;
          }
          &:nth-child(even) {
            background-color: hsla(0, 0%, 98%, 0.95) !important;
            color: $black-800 !important;
          }
        }
      }

      .table-data {
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
        padding: 1rem;
        .data {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: montserrat-medium;
          font-size: 1rem;
          a {
            color: $black;
            text-decoration: underline;
            transition: 0.3s ease-in-out all;
            &:hover {
              color: $purple;
            }
          }
        }
      }
    }
  }

  &.dark {
    .table-row {
      background-color: black !important;
      color: $white !important;
    }
    .table-content {
      &:nth-child(even) {
        .table-data {
          a {
            color: $white;
          }
          &:nth-child(odd) {
            background-color: $black-800 !important;
            color: $white-800 !important;
          }
          &:nth-child(even) {
            background-color: $white-300 !important;
            color: $white !important;
          }
        }
      }
      &:nth-child(odd) {
        .table-data {
          &:nth-child(odd) {
            background-color: $white-300 !important;
            color: $white !important;
          }
          &:nth-child(even) {
            background-color: $black-800 !important;
            color: $white-800 !important;
          }
        }
      }
    }
    .assignment-table,
    .assignment-table-2 {
      border: 1px solid $white !important;
    }
  }
}
