@use "../../../scss/global/color" as *;

@font-face {
  font-family: poppins-medium;
  src: url("../../../assets/fonts/Poppins/Poppins-Medium.ttf");
}

.join-classroom-header {
  display: flex;
  justify-content: space-between;
  .item-1 {
    display: flex;
    justify-content: center;
    // align-items: center;
    gap: 0.725rem;
    p {
      font-family: poppins-medium !important;
      font-size: 1rem;
      // color: $black-800;
    }
    
    img {
      object-fit: cover;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.325rem;
    }
  }
}
