@use "../../global/color" as *;

@font-face {
  font-family: poppins-medium;
  src: url("../../../assets/fonts/Poppins/Poppins-Medium.ttf");
}

div {
  &.icon-btn {
    display: flex;
    align-items: center;
    button {
      max-width: 100%;
      background-color: $purple-900;
      color: $white;
      padding: 0.6rem;
      border: none;
      border-radius: 0.938rem;
      font-family: poppins-medium;
      cursor: pointer;
      transition: 0.3s ease-in-out all;
      p {
        color: $white;
      }
      &:hover {
        background-color: $purple;
      }

      &:active,
      &:hover,
      &:focus {
        color: $white !important;
      }

      div {
        svg {
          position: relative;
          top: 0.1rem;
        }
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 0.5rem;
        align-items: center;
      }
    }
  }
}
