@use "../../global/color" as *;

@font-face {
  font-family: Montserrat-regular;
  src: url("../../../assets/fonts/montserrat/Montserrat-Regular.ttf");
}

.input-model {
  display: flex;
  overflow: hidden;
  .input {
    position: relative;
    input {
      width: 42.863rem;
      height: 3.125rem;
      padding-left: 3.75rem;
      font-size: 1.125rem;
      font-family: Montserrat-regular, sans-serif;
      border: 2px solid $black;
      border-radius: 0.425rem;
      &::placeholder {
        font-family: Montserrat-regular, sans-serif;
        font-size: 1.125rem;
        color: $black-700;
      }
      &:hover, &:active, &:focus{
        border: 2px solid $purple;
        outline: none;
      }
    }
  }
  .icon {
    position: absolute;
  }
  .eye-icon {
    position: absolute;
    cursor: pointer;
    transform: translate(16rem, .3rem);
  }
}
