@use "../../../global/color" as * ;

article {
  &.article {
    .secondary-card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      align-items: flex-start;
      gap: 1rem;
    }
    .primary-card {
      width: 17rem;
      margin-inline: 0;
      padding: 0.788rem 1.375rem ;
      display: grid;
      row-gap: 2.188rem;
      cursor: pointer;
    }
    .join-card {
      display: flex;
      justify-content: center;
      margin-inline: 0;
      align-items: center;
      width: 16.563rem;
      height: 8.125rem;
      color: $black-600;
    }
    .toggler-btn {
      cursor: pointer;
      .join-card {
        font-family: poppins-medium;
        font-size: 1rem;
      }
    }
  }
  &.dark {
    .join-card {
      color: $white;
    }
  }
}
