article {
  &.article {
    .secondary-card {
      width: 16.875rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 0.918rem 1.25rem;
      &:hover{ 
        scale: 1;
      }
    }
  }
}
