@use "../../../../../scss/global/color" as *;

@font-face {
  font-family: montserrat-bol;
  src: url("../../../../../assets/fonts/montserrat/Montserrat-Bold.ttf");
}

div {
  &.classroom-setting {
    h1 {
      font-family: montserrat-bold;
      color: $black-800;
      font-size: 1.875rem;
    }

    .teacher-settings-title {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;
    }
   
  }
  &.dark {
    h1 {
      color: $white-800 !important;
    }
  }
}