@use "../../../scss/global/color" as *;

@font-face {
  font-family: poppins-medium;
  src: url("../../../assets/fonts/Poppins/Poppins-Medium.ttf");
}

div {
  &.secondary-card {
    margin-block: 0;
    width: 100%;
    padding: 0.938rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &:hover {
      scale: 1 !important;
    }
    // cursor: pointer;
    h4,
    p {
      font-family: poppins-medium;
    }
    img {
      object-fit: cover;
      width: 3.625rem;
      height: 3.625rem;
      border-radius: 50%;
      border: 2px solid $white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.458);
    }
    .second-row {
      display: flex;
      gap: 3.125rem;
    }
    .teacher-div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1.875rem;
    }
    .teacher-detail {
      width: 23rem;
      display: flex;
      flex-direction: column;
      gap: 0.313rem;
      justify-content: space-between;
    }
    .pending {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.313rem;
    }
    &:hover {
      scale: 1.01;
    }
  }
  &.menu {
    display: flex;
    align-items: flex-start;
    div {
      position: relative;
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border-radius: 0.5rem;
      transition: 0.3s ease-in-out all;
      cursor: pointer;

      .menu-dropdown {
        position: absolute;
        z-index: 199;
        width: 8.75rem !important;
        height: 2.75rem !important;
        margin-inline: 0 !important;
        top: 0;
        transform: translate(-3.7rem, 2rem);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.361);
        background-color: $white;
        p {
          position: inherit;
          font-family: poppins-medium;
        }
        &:hover {
          background-color: #f2f1f5;
        }
      }
    }
  }
  &.dark {
    div {
      &.menu {
        div {
          &:hover {
            box-shadow: 0px 2px 4px 0px #000;
          }
          .menu-dropdown {
            background-color: $black;
            box-shadow: 0px 4px 10px 0px #000;
            &:hover {
              background-color: #1f1f1f;
            }
          }
        }
      }
    }
  }
}
