$black: hsl(244, 14%, 21%);
$black-light: hsl(246, 19%, 38%);

$gray: hsl(247, 14%, 38%);
$gray-light: hsla(246, 12%, 32%, 0.719);

$white: hsl(247, 100%, 98%);
$purple: hsl(252, 98%, 67%);

$linear-blue: hsl(238, 87%, 59%);
$linear-pink: hsl(284, 100%, 45%);
$linear-blue-light: hsla(238, 87%, 59%, 0.7);
$linear-pink-light: hsla(284, 100%, 45%, 0.7);
