@use "../../global/color" as *;

@font-face {
  font-family: Montserrat-medium;
  src: url("../../../assets/fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Raleway-medium;
  src: url("../../../assets/fonts/Raleway/Raleway-Medium.ttf");
}

.card {
  position: relative;
  top: 0;
  z-index: 200;
  padding: 1.5rem 3.125rem;
  h1 {
    font-size: 4rem;
    font-family: Railway-regular;
  }
  .user-input {
    margin-bottom: 1.875rem;
  }
  .login-input {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 3.125rem;
    input {
      background-color: $white;
      color: $black;
    }
    .pass-input {
      margin-bottom: 0.625rem;
    }
    .forget-pass {
      display: flex;
      justify-content: flex-end;
      p {
        font-family: Montserrat-medium, sans-serif;
        font-size: 0.875rem;
        color: $purple;
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: 1.25rem;
      }
    }
    .login-btn {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1.875rem;

      .hover-effect {
        transition: 0.3s ease-in-out all;
        cursor: pointer;
        &:hover {
          rect {
            stroke: $purple-700;
            fill: $purple-500;
          }
        }
      }
    }
    .submit-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .primary-btn {
        max-width: 100%;
        width: 18.75rem;
        height: 2.813rem;
        background-color: $purple;
        color: $white;
        font-size: 1rem;
        font-family: Raleway-medium;

        border: 1px solid $purple;
        border-radius: 6.25rem;
        cursor: pointer;
        transition: 0.3s ease-in-out all;
        &:hover {
          box-shadow: 0px 4px 4px $black-400;
          background-color: $purple-900;
        }
      }
      .redirect {
        p {
          font-family: Montserrat-medium;
          color: $black;
          margin: 0.625rem;
          a {
            margin-left: 0.625rem;
            color: $purple;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

div {
  &.dark-card {
    .redirect {
      p {
        color: white !important;
      }
    }
  }
  &.light-card {
    p {
      color: $black !important;
    }
  }
}
