@forward "global";

@use "./global/color" as *;

@font-face {
  font-family: Railway-bold;
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: Railway-medium;
  src: url("../assets/fonts/Raleway/Raleway-Medium.ttf");
}

* {
  // background: #000 !important;
  // color: limegreen !important;
  // outline: solid limegreen 1px !important;
} 

body {
  margin-top: 7rem;
  overflow-x: hidden;
  &.dark-theme {
    background-color: $black;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
    }
    a {
      color: $white;
    }
    a:hover,
    :focus,
    :active {
      color: $white;
    }
  }
}
