@use "../global/color" as *;

.btn {
    display: flex;
    transition: 2s all ease-in-out;
    font-family: Raleway-bold, sans-serif;
    transition: 0.3s ease-in all;
    padding: 1rem 3.6rem;
    background: linear-gradient(
        87.77deg,
        $linear-blue-700 2.85%,
        $linear-pink-700 98.1%,
        $linear-pink-700 98.1%
    );
    border-radius: 0.688rem;
    font-size: 1.1rem;
    border: 2px solid #fff;
    color: $white;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}
.btn:hover {
    background: linear-gradient(
        87.77deg,
        $linear-pink-700 2.85%,
        $linear-blue-700 98.1%,
        $linear-blue-700 98.1%
    );
    box-shadow:
        $linear-blue-700 10px 5px 0.633rem 0px,
        $linear-pink-700 10px 10px 0px 0px;
}
