.login-section {
  margin-top: -7rem;
  width: 100%;
  max-height: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  overflow: hidden;

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    &.main {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
    }
    height: 100%;
    margin-bottom: 6.7rem;
    .login-background {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  footer {
    padding: 0;
    // margin-top: 10.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
