@use "../../../scss/global/color" as *;

@font-face {
  font-family: Railway-regular;
  src: url("../../../assets/fonts/Raleway/Raleway-Regular.ttf");
}

.card {
  max-width: 100%;
  width: 25rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  &.darkCard {
    background-color: $black;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
  }
  &.lightCard {
    background-color: $white;
  }
}
