@use "../../../global/color" as *;



article {
  &.article {
    .secondary-card {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    .primary-card {
      width: 16.563rem;
      margin-inline: 0;
      padding: 0.788rem 1.375rem;
      display: grid;
      row-gap: 2.188rem;
      cursor: pointer;
    }
    .add-card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16.563rem;
      height: 8.125rem;
      color: $black-600;
    }
  }
  &.dark {
    .add-card {
      color: $white !important;
    }
  }
}

@media (min-width: 120rem) {
  .article {
    .secondary-card {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}