@use "../../../../global/color" as *;

.section {
  margin-top: -7rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;

  .header {
    position: fixed;
    top: 0;
    width: 17.875rem;
  }
  .main {
    margin-top: 0.625rem;
    margin-left: 18.75rem;
    margin-right: 0.5rem !important;
    padding: 1rem;
    overflow: scroll;
  }
}
