@use "../../../../../../../scss/global/color" as *;

@font-face {
  font-family: montserrat-semibold;
  src: url("../../../../../../../assets/fonts/montserrat/Montserrat-SemiBold.ttf");
}

div {
  &.student {
    display: flex;
    gap: 1.25rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    img {
      object-fit: cover;
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
      border: 2px solid $white;
      box-shadow: 0px 4px 4px 0px $black-500;
    }
    p {
      font-family: montserrat-semibold;
      font-size: 1.25rem;
      color: $black-800;
    }
  }
  &.dark {
    p {
      color: $white-800;
    }
  }
}
