.line-chart {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  padding: 1rem;
  box-shadow: 0px 2px 3px 0px black;
  color: rgba(67, 246, 94, 0.811);
}
