.classroom-header {
  display: flex;
  justify-content: space-between;
  // gap: 6.025rem;
  .classroom-title {
    display: flex;
    gap: 0.625rem;
    img {
      object-fit: cover;
      border-radius: .325rem;
      width: 2.188rem;
      height: 2.188rem;
    }
  }
}
