div {
  &.student-classrooms {
    .primary-card {
      padding: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }
  }
  &.empty-folder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.classrooms {
    display: flex;
    gap: 2.25rem;
    flex-wrap: wrap;
  }
}
