@use "../../../../../scss/global/color" as *;

div {
  &.bar-chart {
    border-radius: 0.625rem;
    box-shadow: 0px 2px 4px 1px $black-500;
    background-color: $white;
    padding: 1rem;
    // height: 20rem !important;
  }
  &.dark {
    .bar {
      box-shadow: 2px 4px 10px 0px #000 !important;
      border-radius: 0.625rem !important;
      background-color: black !important;
    }
  }
}
