@use "../../global/color" as *;

@font-face {
  font-family: poppins-medium;
  src: url("../../../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: poppins-bold;
  src: url("../../../assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: montserrat-regular;
  src: url("../../../assets/fonts/montserrat/Montserrat-Regular.ttf");
}

article {
  &.article {
    .assignment-input-div {
      display: grid;
      // column-gap: 2.5rem;
      grid-template-columns: repeat(2, 1fr);

      .flex-2 {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5rem;
        .start-time {
          grid-column: 1/3;
          width: 11.875rem;
          height: 2.5rem;
          color: $black-800;
          font-size: 15px;
          font-family: poppins-medium;
          padding: 10px 15px;
          margin-bottom: 5px;
          border: 1px solid $black-800;
          border-radius: 6.8px;
          transition: 0.3s ease-in-out all;

          &:active,
          &:focus {
            box-shadow: 0px 2px 0px 1px $purple;
            outline: none;
          }
        }
        .end-time {
          // grid-row: 1/2;
        }
      }
    }
    .topic,
    .total-marks,
    .description-div,
    .primary-div {
      grid-column: 2 span;
      input {
        width: 100% !important;
      }
    }
    .description-div {
      margin-bottom: 0.625rem !important;
      .description {
        width: 420px;
        height: 6.875rem;
        color: $black-800;
        font-size: 15px;
        font-family: poppins-medium;
        padding: 10px 15px;
        margin-bottom: 5px;
        border: 1px solid $black-800;
        border-radius: 6.8px;
        transition: 0.3s ease-in-out all;

        &:active,
        &:focus {
          box-shadow: 0px 2px 0px 1px $purple;
          outline: none;
        }
      }
      h6 {
        color: $red !important;
        font-size: 0.938rem !important;
        font-family: montserrat-regular;
        opacity: 0;
      }
    }
    .start-time,
    .end-time {
      input {
        width: 11.875rem;
      }
    }
    .upload-div {
      h5 {
        color: $red;
        font-size: 0.938rem;
        font-family: montserrat-regular;
        opacity: 0;
      }
    }
    .file-names {
      grid-column: 2 span;
      margin-top: 0.313rem;
      border: 1px solid $black-900;
      border-radius: 0.425rem;
      padding: 0.938rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      max-height: 7.5rem !important;
      overflow: scroll;
      div {
        border-radius: 1.25rem;
        background-color: hsl(0, 0%, 85%);
        color: $black;
        font-family: montserrat-medium;
        padding: 0.625rem;
      }
    }
    .primary-div {
      margin-top: 1.875rem;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        font-family: montserrat-medium !important;
      }
    }
  }
}

div {
  &.is-valid {
    textarea {
      border: 1px solid $red !important;
      color: $red;
      &::placeholder {
        color: $red;
      }
      &:active,
      &:focus {
        border: 1px solid $red !important;
        box-shadow: 0px 1px 0px 1px $red !important;
      }
    }
  }
  &.is-valid-bro {
    h5 {
      opacity: 1 !important;
    }
    .upload-btn {
      border: 1px solid $red !important;
      color: $red;
      margin-bottom: 0.313rem;
    }
  }
}

input[type="file"] {
  display: none;
}
