@use "../../global/color" as *;

@font-face {
  font-family: poppins-medium;
  src: url("../../../assets/fonts/Poppins/Poppins-Medium.ttf");
}

.student-side-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: inherit;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  box-shadow: 0px 4px 43px rgba(195, 208, 255, 0.48);
  overflow-x: hidden;
  height: 100vh;

  & > * {
    font-family: poppins-medium;
  }

  div {
    &.logo {
      &:nth-child(1) {
        margin-top: 0.625rem;
        width: 100%;
        text-align: center;
        position: relative;
      }
    }
  }

  h3 {
    &.pages {
      margin: 1.755rem 0rem 1.25rem 0.313rem;
      color: $black-500;
      font-size: 0.938rem;
      font-weight: 500;
    }
  }
}

nav {
  &.dark-side-nav {
    box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.48);

    h3 {
      color: $white !important;
    }
  }
}
