.role-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  margin: 0 auto;
  max-height: 10.938rem;
  width: 36.563rem;
  overflow: scroll;
  margin-bottom: 1.5rem;
}
