@use "../global/color" as *;

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(5rem);
  .edugateLogo {
    padding: 0.5rem 0rem 0rem 0rem;
  }
}

nav {
  &.darkNavBar {
    background-color: $black-600;
    box-shadow: 0px 0px 15px 0px hsla(244, 14%, 21%, 0.603);
  }
  &.lightNavBar {
    background-color: hsla(0, 0%, 100%, 0.808);
  }
}
