@use "../global/color" as *;

footer {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 15px 0px hsla(256, 26%, 75%, 0.251);
  position: relative;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  .footer {
    max-width: 100%;
    width: 100rem;
    margin: 1rem auto 0rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 3rem;
  }

  // .item3 {
  //   a {
  //     color: $purple;
  //     text-decoration: underline;
  //   }
  // }


  .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1rem;
  }
}

.item7 {
  grid-column: 5/1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .subItem2 {
    display: flex;
    justify-content: flex-end;
  }
}
