@use "../../global/color" as *;

@font-face {
  font-family: montserrat-bold;
  src: url("../../../assets/fonts/montserrat/Montserrat-Bold.ttf");
}

section {
  &.teacher-dashboard {
    h1 {
      font-family: montserrat-bold;
      color: $black-800;
      font-size: 1.875rem;
    }
    div {
      &.graphs {
        margin-bottom: 2rem;
        max-width: 100%;
        // width: 59rem;
        h2 {
          font-family: montserrat-bold;
          font-size: 1.7rem;
          color: $black-800;
        }
        h4 {
          font-family: montserrat-medium;
          margin-bottom: 0.5rem;
        }
        .underline {
          margin-top: 0.5rem;
          margin-bottom: 1rem;
        }
      }
      &.charts {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        justify-content: center;
        align-content: center;
        .chart {
          box-shadow: 0px 2px 4px 0px $black;
          border-radius: 0.625rem;
          padding: 0.2rem;
          // border: 1px solid;
        }
      }
    }
  }
  &.dark {
    h1, h2{
      color: $white-800 !important;
    }
  }
}
