@use "../../../global/color" as *;

@font-face {
  font-family: poppins-medium;
  src: url("../../../../assets/fonts/Poppins/Poppins-Regular.ttf");
}

div {
  &.loading {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}

.main {
  & > * {
    font-family: poppins-medium;
  }

  h1,
  h2 {
    font-family: poppins-medium;
  }
}
