@forward "global";

@use "./global/color" as *;

@font-face {
  font-family: Railway-bold;
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: Railway-medium;
  src: url("../assets/fonts/Raleway/Raleway-Medium.ttf");
}

* {
  // background: #000 !important;
  // color: limegreen !important;
  // outline: solid limegreen 1px !important;
}

body {
  margin-top: 7rem;
  scroll-behavior: smooth;
  &.dark-theme {
    background-color: $black;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
    }
    a {
      color: $white;
    }
    a:hover,
    :focus,
    :active {
      color: $white;
    }

    img {
      display: block;
    }
  }
  button {
    border: none;
    background: transparent;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: $white-100;
  margin-block: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: $purple-900;
  border-radius: 3rem;
}

@supports (scrollbar-color: $purple $white) {
  * {
    scrollbar-color: $purple $white-100;
    scrollbar-width: thin;
  }
}
